@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&display=swap');

:root {
  --primary: #FDB604;
  --dark: #0E0E0E;
}

* {
  box-sizing: border-box;
}

body {
  background: #0E0E0E;
  color: #1A1C1C;
  font-family: 'Almarai', sans-serif;
  direction: rtl;
}
