@import "tailwindcss";

:root {
  --color-primary: #fdb604;
  --background: #ffffff;
  --foreground: #18181b;
  --color-black: #0e0e0e;
  --color-black-2: #101828;
  --color-gray: #e8e8e8;
  --color-gray-2: #71717a;
  --color-gray-3: #333333;
  --color-red: #ae1819;
  --color-blue: #1976d2;
  --color-green: #2e7d32;
  --color-dark-yellow: #6b4c00;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
